		<footer>
			<div class="ui bottom fixed menu borderless">
				<div class="item float right">Lovingly curated by Sab <i class="heart empty icon red"></i></div>
			</div>
		</footer>
		<script src="https://code.jquery.com/jquery-3.1.0.min.js"</script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.js" type="text/javascript"></script>
	</body>

</html>
