<% include partials/header %>

<div class="ui main text container segment">
	<div class="ui huge header">New Blogpost</div>
	<div class="ui clearing divider"></div>
	<form action="/blogposts" method="POST">
		<div class="ui form">
			<div class="field">
				<label>Title</label>
				<input type="text" name="blogpost[title]" placeholder="Title">
			</div>
			<div class="field">
				<label>Image</label>
				<input type="text" name="blogpost[image]" placeholder="Image URL">
			</div>
			<div class="field">
				<label>Content</label>
				<textarea name="blogpost[body]"></textarea>
			</div>
			<button class="ui button" type="submit">Submit</button>
		</div>
	</form>
</div>

<% include partials/footer %>
